/* .main-nav-container { */
  /* below is the gradient from Yelp's CSS */
  /* background: linear-gradient(180deg, #000000b3, #0000004d 72.92%, #0000); */
  /* background-color: black; */
/* } */

.logo {
  height: 65px;
  width: 220px;
}

.search-input {
  width: 40vw;
  padding: 16px;
}
.search-button {
  border: none;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  color: white;
  background-color: #e00707;
  display: block;
  font-weight: 700;
  max-width: 56px;
  padding: 12px 16px;
  text-align: center;
  cursor: pointer;
}

.icon_svg {
  fill: white;
}
