.like-button-container {
    display: flex;
    padding-left: 70px;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 2px 2px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}
