.login-button {
  border: 1px solid rgba(200, 201, 202, 1);
  border-width: 2px;
  box-sizing: border-box;
  color: rgba(45, 46, 47, 1);
  border-radius: 4px;
  height: 50px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.8s;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  border-radius: 20px;
}

.loginErrors {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.errors {
  font-family: Helvetica, Rounded;
  font-size: 18px;
}

.errors:hover {
  font-weight: 650;
  color: red;
  font-size: 18px;
}

.loginTitle {
  font-family: Helvetica, Rounded;
  font-size: 20px;
  font-weight: 750;
}

.userInput,
.emailInput,
.passwordInput {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  min-width: 300px;
  max-width: 300px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: 20px;
  position: relative;
}

.submitLogin {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 750;
  height: 40px;
  width: 150px;
  margin-top: 20px;
}

.submitLogin:hover {
  cursor: pointer;
}

.submitDemo {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 750;
  height: 45px;
  margin-top: 10px;
  width: 150px;
  margin-bottom: 10px;
}

.submitDemo:hover {
  cursor: pointer;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(45, 46, 47, 1);
  box-shadow: none;
}
