.login-button {
  background-color: transparent;
  border: 1px solid rgba(200, 201, 202, 1);
  border-width: 2px;
  color: rgba(45, 46, 47, 1);
  border-radius: 4px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.loginBox {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 425px;
}

.loginErrors {
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.errors {
  font-family: Helvetica, Rounded;
  font-size: 18px;
}

.errors:hover {
  font-weight: 650;
  color: red;
  font-size: 18px;
  font-weight: 700;
}

.loginTitle {
  font-family: Helvetica, Rounded;
  font-size: 20px;
  margin-left: 43%;
  font-weight: 750;
  margin-bottom: -20px;
}

.userInput,
.emailInput,
.passwordInput {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
}

.emailInput,
.passwordInput {
  margin-left: 12%;
}

.submitLogin {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 750;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  margin-left: 33%;
}

.submitLogin:hover {
  cursor: pointer;
}

.submitDemo {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 750;
  height: 45px;
  width: 150px;
  margin-left: 33%;
  margin-bottom: 10px;
}

.submitDemo:hover {
  cursor: pointer;
}
