/* TODO Add site wide styles */
body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.modal-form {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.button {
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.clear-button {
  background-color: #ffffff;
  color: #7c7c7d;
  border: #c8c9ca solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}

.m5 {
  margin: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.m10 {
  margin: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.m15 {
  margin: 15px;
}
.mr15 {
  margin-right: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.mt15 {
  margin-top: 15px;
}

.m20 {
  margin: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p5 {
  padding: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt5 {
  padding-top: 5px;
}

.p10 {
  padding: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.p15 {
  padding: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pt15 {
  padding-top: 15px;
}

.p20 {
  padding: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}
