.span-review-stars {
  display: flex;
  gap: 4px;
}

.RevButton {
  background-color: #ffffff;
  color: #7c7c7d;
  border: #c8c9ca solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}

.review-cards-inner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* align-content: flex-st; */
}

.my-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.my-review-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 2vw;
}

.review-card-current {
  margin-bottom: max(1.5vh, 20px);
  border: none;
  outline: 1px solid #e8e8e8;
  border-radius: 10%;
  padding: 15px;
}

.MyReviewHeader {
  display: flex;
  justify-content: center;
}

.review-user-image-current {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.users-name-current {
  display: flex;
  flex-direction: column;
}

.review-current {
  margin-bottom: 10px;
  padding: 5px;
}

.my-reviews {
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-family: Helvetica, Rounded;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.my-reviews:hover {
  background-color: rgb(240, 240, 240);
  /* border-radius: 15px; */
}
