.main-splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100vw;
}

.main-splash-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

.main-splash-image-inner > img {
  width: 100%;
  height: 800px;
  z-index: -1;
}

.main-splash-image-inner::after {
  background: linear-gradient(180deg, #0006, #0000001a 5%);
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.splash-container {
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.splash-page-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  position: absolute;

  top: 0;
  color: white;
  z-index: 999;
}
