.photo-outer-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1922px;
  position: relative;
}
.photo-inner-container {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  vertical-align: top;
  width: 100%;
}
.business-preview-image {
  width: 100%;
  height: 426px;
  max-height: 426px;
  object-fit: cover;
}
.business-details-container {
  margin: 0 auto;
  max-width: 1144px;
  padding: 0 40px;
}
.photo-inner-container::after {
  background: linear-gradient(180deg, #0000 31.42%, #000);
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.details-container {
  align-items: flex-end;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  margin: auto;
  max-width: 1272px;
  min-width: 1144px;
  padding: 40px 64px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.details {
  position: relative;
  flex: 1 auto;
  color: white;
}

.details-name {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 725;
  line-height: 56px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: #fff;
  display: inline;
}

.business-about-container {
  padding: 20px 0px;
  border-bottom: 1px solid #ebebeb;
}

.about-header {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
  padding-bottom: 15px;
}

.header {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
}

.business-details {
  width: 66.66667%;
}

.business-open-time {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
}

.business-contact-container {
  border: 1px solid #ebebeb;
  position: sticky;
  top: 18px;
  border-radius: 4 px;
  padding: 16px;
}

.business-contact-outer-container {
  width: 33%;
  padding-left: 16px;
  position: sticky;
}

.business-website {
  border-top: none;
  padding-top: 0;
  padding: 16px 0px;
}

.business-website a {
  color: rgba(2, 122, 151, 1);
  font-weight: bold;
  text-decoration: none;
}

.business-phone {
  padding: 16px 0px;
  border-top: 1px solid #ebebeb;
}

.business-address {
  border-top: 1px solid #ebebeb;
  padding: 16px 0px;
  padding-bottom: 0;
}

.menu-header {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
  display: inline;
}

.menu-items {
  gap: 3%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.business-menu-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
}

.business-reviews-container {
  padding-top: 30px;
}

.reviews-inner-container {
  padding-top: 30px;
}

.EditDeleteBusiness {
  padding-left: 10px;
  gap: 10px;
}

.likes-container {
  margin-top: 20px;
  position: sticky;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  top: 215px;
  border-radius: 4 px;
  padding: 16px;
  padding-left: 20px;
}

.likes-component {
  border-top: none;
  padding-top: 0;
  /* padding: 16px 0px; */
}

.likes-ul {
  list-style: none;
  padding: 16px 16px;
  border-top: 1px solid #ebebeb;
}

.likes-li {
  padding-top: 5px;
}
