.editForm {
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}

.updateTitle {
  font-family: Helvetica, Rounded;
  font-size: 20px;
  font-weight: 750;
}

.editName,
.editAddress,
.editUrl,
.editPhone,
.editCity,
.editState,
.editZipCode,
.editOpenTime,
.editCloseTime,
.editDescription,
.editPreviewUrl {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: 20px;
}

.editBusinessBut {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 750;
  height: 40px;
  width: 200px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.editBusinessBut:hover {
  cursor: pointer;
}

.editError {
  text-align: center;
  margin-top: 15px;
}

.editError:hover {
  font-weight: 600;
  color: red
}
