.review-card {
  padding: 15px 0px;
  margin-bottom: max(1.5vh, 20px);
  border: none;
  outline: 1px solid #e8e8e8;
  border-radius: 15px;
  padding: 15px;
}

.review-user-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.review-user-info {
  padding-left: 10px;
}

.review-text,
.review-stars {
  padding-top: 5px;
}

.delete-rev {
  background-color: #ffffff;
  color: #7c7c7d;
  border: #c8c9ca solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}

.review-card-user-date {
  display: flex;
  gap: 4px;
}
