.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 450px;
  border-radius: 20px;
}

.signupTitle {
  font-family: Helvetica, Rounded;
  font-size: 20px;
  font-weight: 750;
}

.signupErrors {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.signupError:hover {
  display: flex;
  align-items: center;
  font-weight: 650;
  color: red;
  font-size: 18px;
}

.signupError {
  font-family: Helvetica, Rounded;
  font-size: 18px;
}

.userInputs,
.emailInputs,
.passwordInputs,
.profileImg {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 10px;
}

.signup-button {
  background-color: rgb(230, 0, 0);
  box-sizing: border-box;
  height: 50px;
  font-weight: 600px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.8s;
}

.signup-button:hover {
  background-color: rgb(244, 13, 21);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.signUpButton {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 750;
  height: 40px;
  width: 115px;
  margin-top: 25px;
  /* margin-left: 33%; */
}

.signUpButton:hover {
  cursor: pointer;
}
