.review-container {
  border: 1px solid red;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 275px;
  width: 450px;
  border-radius: 12px;
  padding: 20px;
}

.editreview-title {
  display: flex;
  justify-content: center;
  font-family: Helvetica, Rounded;
  font-size: 20px;
  font-weight: 750;
}

.make-bigger {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}

.create-review-button {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.stars-review {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}
.submitButton-review {
  background-color: rgb(230, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 750;
  height: 38px;
  margin-top: 15px;
}
.stars-outer {
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  font-family: FontAwesome;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #ffd000;
}
.create-review-button > * {
  padding: 0 5px;
}
